@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #b6a999;
    margin: 0;
    padding: 0;
}

/*!-- Header --*/
header {
    background-color: #272524;
    align-items: center;
}

.navbar {
    background-color: #272524 !important;
}

nav div ul li a {
    color: #b6a999 !important;
}

.navbar-brand {
    color: #b6a999;
}

.navlink {
    color: #b6a999;
}


.bienvenida {
    text-align: center;
}

.bienvenida h1 {
    font-size: 45px;
    color: #b6a999;
}

.bienvenida h2 {
    font-size: 30px;
    color: #b6a999;
}

/**-- Main --**/
.contenido {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../multimedia/fondo-pagina.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
}

.contenido h3 {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    justify-content: center;
}

.contenido h4 {
    color: #ffffff;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    justify-content: center;
}

.contenido p {
    color: #ffffff;
    font-size: 20px;
    justify-content: center;
    margin: 15px;
    text-align: center;
}

.productos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    background-color: #272524;
    color: #ffffff;
    border-radius: 10px;
}

#formulario input[type="text"],
#formulario input[type="email"],
#formulario input[type="tel"],
#formulario textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3a3937;
    color: white;
}

#formulario label {
    grid-column: span 2;
    margin-top: 10px;
    font-weight: bold;
}

#formulario textarea {
    resize: vertical;
    min-height: 100px;
    grid-column: span 2;
}

#formulario input[type="submit"] {
    grid-column: span 2;
    padding: 12px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#formulario input[type="submit"]:hover {
    background-color: #45a049;
}

.terminos {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 10px;
}
.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
/*-- Fotos --*/
.fotos h3 {
    height: 50px;
    color: #b6a999;
    font-size: 35px;
    background-color: #272524;
    text-align: center;
}

.fotos img {
    border: solid 2px #555050;
}
.fotos-galeria {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 10px;
}
.fotos-galeria img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}
/*?-- Footer --?*/
footer {
    background-color: #272524;
    text-align: center;
    width: 100%;
}

footer img {
    width: 50px;
}

footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

footer p {
    color: #b6a999;
    font-size: 20px;
}

@media screen and (max-width: 1099px) {
    .contenido div p {
        font-size: 17px;
    }
}

@media screen and (max-width: 870px) {
    .contenido div p {
        font-size: 15px;
    }
}

@media screen and (max-width: 710px) {
    .contenido div p {
        font-size: 14px;
    }
}

@media screen and (max-width: 605px) {
    .fotos h3 {
        font-size: 25px;
    }

    .fotos img {
        width: 25%;
    }
}

@media screen and (max-width: 590px) {
    .contenido div p {
        font-size: 13.6px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .bienvenida h1 {
        font-size: 30px;
    }

    .bienvenida h2 {
        font-size: 15px;
    }

    .contenido div p {
        font-size: 13px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .fotos img {
        width: 20%;
    }
}

@media screen and (max-width: 450px) {
    .fotos h3 {
        font-size: 20px;
    }

    nav ul li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    .contenido div p {
        font-size: 12px;
    }

    .bienvenida h1 {
        font-size: 25px;
    }

    .bienvenida h2 {
        font-size: 18px;
    }

}

@media screen and (max-width: 365px) {
    .contenido div p {
        font-size: 11px;
    }

    .bienvenida h1 {
        font-size: 20px;
    }

    .bienvenida h2 {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    #formulario {
        grid-template-columns: 1fr;
    }

    #formulario label,
    #formulario textarea,
    #formulario input[type="submit"],
    .terminos {
        grid-column: span 1 !important;
    }
}