footer {
    @include color-theme(background-color, primary);
    text-align: center;
    width: 100%;

    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;

        a {
            @include color-theme(color, secondary);
            margin-bottom: 10px;

            &:hover {
                color: #ffffff;
            }
        }
    }

    p {
        @include color-theme(color, secondary);
        font-size: 14px;
        padding: 10px;
    }
}