header {
    @include color-theme(background-color, primary);
    align-items: center;
}

nav.navbar,
.navbar.navbar-expand-lg {
    @include color-theme(background-color, primary, true);
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar {
    @include color-theme(color, secondary, true);

    &:hover {
        @include color-theme(color, text-light, true);
    }
}

.navbar-toggler {
    @include color-theme(background-color, secondary, true);
}


.dropdown-menu {
    @include color-theme(background-color, primary, true);
    border: none;

    a {
        @include color-theme(color, secondary, true);

        &:hover {
            @include color-theme(color, primary, true);
        }
    }
}

.bienvenida {
    text-align: center;

    h1 {
        font-size: 45px;
        padding: 10px;
        @include color-theme(color, secondary);
    }

    h2 {
        font-size: 30px;
        @include color-theme(color, secondary);
    }
}

.inicio {
    img {
        width: 50px;
    }
}