header {
    background-color: #272524;
    align-items: center;
}

.navbar {
    background-color: #272524 !important;
}

nav div ul li a {
    color: #b6a999 !important;
}

.navbar-brand {
    color: #b6a999;
}

.navlink {
    color: #b6a999;
}

.navbar-toggler {
    background-color: #b6a999 !important;
}

.bienvenida {
    text-align: center;
    h1 {
    font-size: 45px;
    color: #b6a999;
    }
    h2 {
    font-size: 30px;
    color: #b6a999;
    }
}